<a href="https://colab.research.google.com/github/SamPetux/StackoverflowJobes/blob/main/IT_%D0%B0%D0%BD%D0%B0%D0%BB%D0%B8%D1%82%D0%B8%D0%BA%D0%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Качественная обработка файлов

In [ ]:
import csv
from math import ceil

LANGS = ('Java', 'JavaScript', 'CSS', 'PHP', 'Python', 'Ruby', 'SQL', 'C#', 'C++', 'C', 'Perl')

### 2011 год

In [ ]:
def get_exp(exp):
  match exp:
    case '<2':
      return 2
    case '41310':
      return 4
    case '41435':
      return 8
    case _:
      return 11

In [ ]:
def get_comp(comp):
  match comp:
    case '<$20,000':
      return 10000
    case '$20,000 - $40,000':
      return 30000
    case '$40,000 - $60,000':
      return 50000
    case '$60,000 - $80,000':
      return 70000
    case '$80,000 - $100,000':
      return 90000
    case '$100,000 - $120,000':
      return 110000
    case '$120,000 - $140,000':
      return 130000
    case _:
      return 150000

In [ ]:
professions = {}

with open('/content/2011 Stack Overflow Survey Results.csv', encoding='latin-1') as csvfile:
    reader = csv.reader(csvfile, delimiter=',')
    n = 0
    for row in reader:
      if n > 1:
        ProgrammingExperience = get_exp(row[3]) if row[3] else ''
        Occupation = row[6] if row[6] != 'Other' else ''
        Country = row[0]
        Compensation = get_comp(row[45]) if row[45] and row[45] != 'Student / Unemployed' else ''
        Languages = row[30:43]
        while '' in Languages:
          Languages.remove('')
        if ProgrammingExperience and Occupation and Country and Compensation and Languages:
          if Occupation not in professions:
                professions[Occupation] = []
          professions[Occupation].append(
              {'country/region': Country,
               'experience (years)': ProgrammingExperience,
               'languages': Languages,
               'compensation': Compensation})
        continue
      n += 1

In [ ]:
with open('2011 summary file.csv', 'w', encoding='latin-1') as w_file:
  file_writer = csv.writer(w_file, delimiter = ',')
  file_writer.writerow(['profession', 'country/region', 'experience (years)',
                        'Java', 'JavaScript', 'CSS', 'PHP', 'Python', 'Ruby',
                        'SQL', 'C#', 'C++', 'C', 'Perl', 'Other',  'compensation'])
  n = 0
  for prof in professions:
    users = sorted(professions[prof], key=lambda d: d['country/region'])
    for user in users:
      us_languages = user['languages']
      if us_languages:
        languages = []
        for lang in LANGS:
          if lang in us_languages:
            languages.append('+')
            us_languages.remove(lang)
          else:
            languages.append('-')
        if us_languages:
          languages.append(', '.join(us_languages))
        else:
          languages.append('-')
        file_writer.writerow([prof, user['country/region'], user['experience (years)'], *languages, user['compensation']])

### 2012 год

In [ ]:
def get_exp(exp):
  match exp:
    case '<2':
      return 2
    case '40944':
      return 4
    case '41070':
      return 8
    case _:
      return 11

In [ ]:
professions = {}

with open('/content/2012 Stack Overflow Survey Results.csv', encoding='latin-1') as csvfile:
    reader = csv.reader(csvfile, delimiter=',')
    n = 0
    for row in reader:
      if n > 1:
        ProgrammingExperience = get_exp(row[3]) if row[3] else ''
        Occupation = row[6] if row[6] not in ('Other', "I don't work in tech") else ''
        Country = row[0]
        Compensation = get_comp(row[39]) if row[39] and row[39] not in ('Student / Unemployed', 'Rather not say') else ''
        Languages = row[22:37]
        while '' in Languages:
          Languages.remove('')
        if ProgrammingExperience and Occupation and Country and Compensation and Languages:
          if Occupation not in professions:
                professions[Occupation] = []
          professions[Occupation].append(
              {'country/region': Country,
               'experience (years)': ProgrammingExperience,
               'languages': Languages,
               'compensation': Compensation})
        continue
      n += 1

In [ ]:
with open('2012 summary file.csv', 'w', encoding='latin-1') as w_file:
  file_writer = csv.writer(w_file, delimiter = ',')
  file_writer.writerow(['profession', 'country/region', 'experience (years)',
                        'Java', 'JavaScript', 'CSS', 'PHP', 'Python', 'Ruby',
                        'SQL', 'C#', 'C++', 'C', 'Perl', 'Other',  'compensation'])
  n = 0
  for prof in professions:
    users = sorted(professions[prof], key=lambda d: d['country/region'])
    for user in users:
      us_languages = user['languages']
      if us_languages:
        languages = []
        for lang in LANGS:
          if lang in us_languages:
            languages.append('+')
            us_languages.remove(lang)
          else:
            languages.append('-')
        if us_languages:
          languages.append(', '.join(us_languages))
        else:
          languages.append('-')
        file_writer.writerow([prof, user['country/region'], user['experience (years)'], *languages, user['compensation']])

### 2013 год

In [ ]:
def get_exp(exp):
  match exp:
    case '<2':
      return 2
    case '2/5/2013':
      return 4
    case '6/10/2013':
      return 8
    case _:
      return 11

In [ ]:
professions = {}

with open('/content/2013 Stack Overflow Survey Results.csv', encoding='latin-1') as csvfile:
    reader = csv.reader(csvfile, delimiter=',')
    n = 0
    for row in reader:
      if n > 1:
        ProgrammingExperience = get_exp(row[3]) if row[3] else ''
        Occupation = row[6] if row[6] not in ('Other', "I don't work in tech") else ''
        Country = row[0]
        Compensation = get_comp(row[100]) if row[100] and row[100] not in ('Rather not say', 'Student / Unemployed') else ''
        Languages = row[56:70]
        while '' in Languages:
          Languages.remove('')
        if ProgrammingExperience and Occupation and Country and Compensation and Languages:
          if Occupation not in professions:
                professions[Occupation] = []
          professions[Occupation].append(
              {'country/region': Country,
               'experience (years)': ProgrammingExperience,
               'languages': Languages,
               'compensation': Compensation})
      n += 1

In [ ]:
with open('2013 summary file.csv', 'w', encoding='latin-1') as w_file:
  file_writer = csv.writer(w_file, delimiter = ',')
  file_writer.writerow(['profession', 'country/region', 'experience (years)',
                        'Java', 'JavaScript', 'CSS', 'PHP', 'Python', 'Ruby',
                        'SQL', 'C#', 'C++', 'C', 'Perl', 'Other',  'compensation'])
  n = 0
  for prof in professions:
    users = sorted(professions[prof], key=lambda d: d['country/region'])
    for user in users:
      us_languages = user['languages']
      if us_languages:
        languages = []
        for lang in LANGS:
          if lang in us_languages[:-1] or lang.lower() in us_languages[-1].lower():
            languages.append('+')
            if lang in us_languages[:-1]:
              us_languages.remove(lang)
          else:
            languages.append('-')
        if us_languages:
          languages.append(', '.join(us_languages))
        else:
          languages.append('-')
        file_writer.writerow([prof, user['country/region'], user['experience (years)'], *languages, user['compensation']])

### 2014 год

In [ ]:
def get_exp(exp):
  match exp:
    case '<2':
      return 2
    case '2/5/2014':
      return 4
    case '6/10/2014':
      return 8
    case _:
      return 11

In [ ]:
professions = {}

with open('/content/2014 Stack Overflow Survey Results.csv', encoding='latin-1') as csvfile:
    reader = csv.reader(csvfile, delimiter=',')
    n = 0
    for row in reader:
      if n > 1:
        ProgrammingExperience = get_exp(row[5]) if row[5] else ''
        Occupation = row[6] if row[6] not in ("I don't work in tech", 'Other') else ''
        Country = row[0] if row[0] != 'Other' else ''
        Compensation = get_comp(row[7]) if row[7] and row[7] not in ('Rather not say', 'Student / Unemployed') else ''
        Languages = row[42:54]
        while '' in Languages:
          Languages.remove('')
        if ProgrammingExperience and Occupation and Country and Compensation and Languages:
          if Occupation not in professions:
                professions[Occupation] = []
          professions[Occupation].append(
              {'country/region': Country,
               'experience (years)': ProgrammingExperience,
               'languages': Languages,
               'compensation': Compensation})
        continue
      n += 1

In [ ]:
with open('2014 summary file.csv', 'w', encoding='latin-1') as w_file:
  file_writer = csv.writer(w_file, delimiter = ',')
  file_writer.writerow(['profession', 'country/region', 'experience (years)',
                        'Java', 'JavaScript', 'CSS', 'PHP', 'Python', 'Ruby',
                        'SQL', 'C#', 'C++', 'C', 'Perl', 'Other',  'compensation'])
  n = 0
  for prof in professions:
    users = sorted(professions[prof], key=lambda d: d['country/region'])
    for user in users:
      us_languages = user['languages']
      if us_languages:
        languages = []
        for lang in LANGS:
          if lang in us_languages[:-1] or lang.lower() in us_languages[-1].lower():
            languages.append('+')
            if lang in us_languages[:-1]:
              us_languages.remove(lang)
          else:
            languages.append('-')
        if us_languages:
          languages.append(', '.join(us_languages))
        else:
          languages.append('-')
        file_writer.writerow([prof, user['country/region'], user['experience (years)'], *languages, user['compensation']])

### 2015 год

In [ ]:
def get_exp(exp):
  match exp:
    case 'Less than 1 year':
      return 1
    case '1 - 2 years':
      return 2
    case '2 - 5 years':
      return 4
    case '6 - 10 years':
      return 8
    case '11+ years':
      return 13

In [ ]:
professions = {}

with open('/content/2015 Stack Overflow Survey Results.csv', encoding='latin-1') as csvfile:
    reader = csv.reader(csvfile, delimiter=',')
    n = 0
    for row in reader:
      if n > 1:
        ProgrammingExperience = get_exp(row[4]) if row[4] else ''
        Occupation = row[5]
        Country = row[0] if row[0] not in ('Other', 'N/A') else ''
        Compensation = int(row[106]) if row[106] and row[106] not in ('Rather not say', 'Unemployed') else ''
        Languages = row[8:51]
        while '' in Languages:
          Languages.remove('')
        if ProgrammingExperience and Occupation and Country and Compensation and Languages:
          if Occupation not in professions:
                professions[Occupation] = []
          professions[Occupation].append(
              {'country/region': Country,
               'experience (years)': ProgrammingExperience,
               'languages': Languages,
               'compensation': Compensation})
        continue
      n += 1

In [ ]:
with open('2015 summary file.csv', 'w', encoding='latin-1') as w_file:
  file_writer = csv.writer(w_file, delimiter = ',')
  file_writer.writerow(['profession', 'country/region', 'experience (years)',
                        'Java', 'JavaScript', 'CSS', 'PHP', 'Python', 'Ruby',
                        'SQL', 'C#', 'C++', 'C', 'Perl', 'Other',  'compensation'])
  n = 0
  for prof in professions:
    users = sorted(professions[prof], key=lambda d: d['country/region'])
    for user in users:
      us_languages = user['languages']
      if us_languages:
        languages = []
        for lang in LANGS:
          if lang in us_languages[:-1] or lang.lower() in us_languages[-1].lower():
            languages.append('+')
            if lang in us_languages[:-1]:
              us_languages.remove(lang)
          else:
            languages.append('-')
        if us_languages:
          languages.append(', '.join(us_languages))
        else:
          languages.append('-')
        file_writer.writerow([prof, user['country/region'], user['experience (years)'], *languages, user['compensation']])

### 2016 год

In [ ]:
professions = {}

with open('/content/2016 Stack Overflow Survey Results.csv', encoding='latin-1') as csvfile:
    reader = csv.reader(csvfile, delimiter=',')
    n = 0
    for row in reader:
      if n:
        ProgrammingExperience = ceil(float(row[12])) if row[12] else ''
        Occupation = row[9] if row[9] != 'other' else ''
        Country = row[2] if row[2] != 'Other (please specify)' else ''
        Compensation = ceil(float(row[14])) if row[14] else ''
        Languages = row[16].split('; ')
        while '' in Languages:
          Languages.remove('')
        if ProgrammingExperience and Occupation and Country and Compensation and Languages:
          if Occupation not in professions:
                professions[Occupation] = []
          professions[Occupation].append(
              {'country/region': Country,
               'experience (years)': ProgrammingExperience,
               'languages': Languages,
               'compensation': Compensation})
        continue
      n += 1

In [ ]:
with open('2016 summary file.csv', 'w', encoding='latin-1') as w_file:
  file_writer = csv.writer(w_file, delimiter = ',')
  file_writer.writerow(['profession', 'country/region', 'experience (years)',
                        'Java', 'JavaScript', 'CSS', 'PHP', 'Python', 'Ruby',
                        'SQL', 'C#', 'C++', 'C', 'Perl', 'Other',  'compensation'])
  n = 0
  for prof in professions:
    users = sorted(professions[prof], key=lambda d: d['country/region'])
    for user in users:
      us_languages = user['languages']
      if us_languages:
        languages = []
        for lang in LANGS:
          if lang in us_languages:
            languages.append('+')
            us_languages.remove(lang)
          else:
            languages.append('-')
        if us_languages:
          languages.append(', '.join(us_languages))
        else:
          languages.append('-')
        file_writer.writerow([prof, user['country/region'], user['experience (years)'], *languages, user['compensation']])

### 2017 год

In [ ]:
def get_exp(exp):
  match exp:
    case 'Less than a year':
      return 1
    case '20 or more years':
      return 20
    case _:
      return int(exp.split()[2])

In [ ]:
def get_comp(comp):
  if comp < 5000:
    return 0
  if comp < 20000:
    return 10000
  if comp < 40000:
    return 30000
  if comp < 60000:
    return 50000
  if comp < 80000:
    return 70000
  if comp < 100000:
    return 90000
  if comp < 110000:
    return 110000
  if comp < 140000:
    return 130000
  if comp < 160000:
    return 150000
  return 170000

In [ ]:
professions = {}

with open('/content/2017 Stack Overflow Survey Results.csv', encoding='latin-1') as csvfile:
    reader = csv.reader(csvfile, delimiter=',')
    n = 0
    for row in reader:
      if n:
        ProgrammingExperience = get_exp(row[11]) if row[11] and row[11] != 'NA' else ''
        DeveloperType = row[14] if 'NA' not in row[14] and 'Other' not in row[14] else ''
        WebDeveloperType = row[15] if 'NA' not in row[15] and 'Other' not in row[15] else ''
        MobileDeveloperType = row[16] if 'NA' not in row[16] and 'Other' not in row[16] else ''
        NonDeveloperType = row[17] if 'NA' not in row[17] and 'Other' not in row[17] else ''
        Occupations = (DeveloperType.split('; ') +
                      WebDeveloperType.split('; ') +
                      MobileDeveloperType.split('; ') +
                      NonDeveloperType.split('; '))
        while '' in Occupations:
          Occupations.remove('')
        Country = row[3] if row[3] != 'I prefer not to say' else ''
        Compensation = get_comp(float(row[-2])) if row[-2] != 'NA' else ''
        Languages = row[88].split('; ') if row[88] != 'NA' else ''
        if ProgrammingExperience and Occupations and Country and Compensation and Languages:
          for Occupation in Occupations:
            if Occupation not in professions:
                  professions[Occupation] = []
            professions[Occupation].append(
                {'country/region': Country,
                'experience (years)': ProgrammingExperience,
                'languages': Languages,
                'compensation': Compensation})
        continue
      n += 1

In [ ]:
with open('2017 summary file.csv', 'w', encoding='latin-1') as w_file:
  file_writer = csv.writer(w_file, delimiter = ',')
  file_writer.writerow(['profession', 'country/region', 'experience (years)',
                        'Java', 'JavaScript', 'CSS', 'PHP', 'Python', 'Ruby',
                        'SQL', 'C#', 'C++', 'C', 'Perl', 'Other',  'compensation'])
  n = 0
  for prof in professions:
    users = sorted(professions[prof], key=lambda d: d['country/region'])
    for user in users:
      us_languages = user['languages']
      if us_languages:
        languages = []
        for lang in LANGS:
          if lang in us_languages:
            languages.append('+')
            us_languages.remove(lang)
          else:
            languages.append('-')
        if us_languages:
          languages.append(', '.join(us_languages))
        else:
          languages.append('-')
        file_writer.writerow([prof, user['country/region'], user['experience (years)'], *languages, user['compensation']])

### 2018 год

In [ ]:
def get_exp(exp):
  match exp:
    case '30 or more years':
      return 30
    case _:
      return int(exp.split()[0].split('-')[0]) + 1

In [ ]:
professions = {}

with open('/content/2018 Stack Overflow Survey Results.csv', encoding='latin-1') as csvfile:
    reader = csv.reader(csvfile, delimiter=',')
    n = 0
    for row in reader:
      if n:
        ProgrammingExperience = get_exp(row[11]) if row[11] != 'NA' else ''
        Occupations = row[9].split(';') if row[9] != 'NA' else ''
        Country = row[3] if row[3] not in ('Other Country (Not Listed Above)', 'NA') else ''
        Compensation = ceil(float(row[54])) if row[54] != 'NA' and 1000000 > ceil(float(row[54])) > 5000 else ''
        Languages = row[65].split(';') if row[65] != 'NA' else ''
        if ProgrammingExperience and Occupations and Country and Compensation and Languages:
          for Occupation in Occupations:
            if Occupation not in professions:
              professions[Occupation] = []
            professions[Occupation].append(
                {'country/region': Country,
                'experience (years)': ProgrammingExperience,
                'languages': Languages,
                'compensation': Compensation})
        continue
      n += 1

In [ ]:
with open('2018 summary file.csv', 'w', encoding='latin-1') as w_file:
  file_writer = csv.writer(w_file, delimiter = ',')
  file_writer.writerow(['profession', 'country/region', 'experience (years)',
                        'Java', 'JavaScript', 'CSS', 'PHP', 'Python', 'Ruby',
                        'SQL', 'C#', 'C++', 'C', 'Perl', 'Other',  'compensation'])
  n = 0
  for prof in professions:
    users = sorted(professions[prof], key=lambda d: d['country/region'])
    for user in users:
      us_languages = user['languages']
      if us_languages:
        languages = []
        for lang in LANGS:
          if lang in us_languages:
            languages.append('+')
            us_languages.remove(lang)
          else:
            languages.append('-')
        if us_languages:
          languages.append(', '.join(us_languages))
        else:
          languages.append('-')
        file_writer.writerow([prof, user['country/region'], user['experience (years)'], *languages, user['compensation']])

### 2019 год

In [ ]:
def get_exp(exp):
  match exp:
    case 'Less than 1 year':
      return 1
    case 'More than 50 years':
      return 50
    case _:
      return int(exp)

In [ ]:
professions = {}

with open('/content/2019 Stack Overflow Survey Results.csv', encoding='latin-1') as csvfile:
    reader = csv.reader(csvfile, delimiter=',')
    n = 0
    for row in reader:
      if n:
        ProgrammingExperience = get_exp(row[15]) if row[15] != 'NA' else ''
        Occupations = row[12].split(';') if row[12] != 'NA' else ''
        Country = row[6] if row[6] not in ('Other Country (Not Listed Above)', 'NA') else ''
        Compensation = ceil(float(row[31])) if row[31] != 'NA' and 1000000 > ceil(float(row[31])) > 5000 else 0
        Languages = row[43].split(';') if row[43] != 'NA' else ''
        if 'Other(s):' in Languages:
          Languages.remove('Other(s):')
        if ProgrammingExperience and Occupations and Country and Compensation and Languages:
          for Occupation in Occupations:
            if Occupation not in professions:
              professions[Occupation] = []
            professions[Occupation].append(
                {'country/region': Country,
                'experience (years)': ProgrammingExperience,
                'languages': Languages,
                'compensation': Compensation})
        continue
      n += 1

In [ ]:
with open('2019 summary file.csv', 'w', encoding='latin-1') as w_file:
  file_writer = csv.writer(w_file, delimiter = ',')
  file_writer.writerow(['profession', 'country/region', 'experience (years)',
                        'Java', 'JavaScript', 'CSS', 'PHP', 'Python', 'Ruby',
                        'SQL', 'C#', 'C++', 'C', 'Perl', 'Other',  'compensation'])
  n = 0
  for prof in professions:
    users = sorted(professions[prof], key=lambda d: d['country/region'])
    for user in users:
      us_languages = user['languages']
      if us_languages:
        languages = []
        for lang in LANGS:
          if lang in us_languages or lang in ','.join(us_languages):
            languages.append('+')
            if lang in us_languages:
              us_languages.remove(lang)
          else:
            languages.append('-')
        if us_languages:
          languages.append(', '.join(us_languages))
        else:
          languages.append('-')
        file_writer.writerow([prof, user['country/region'], user['experience (years)'], *languages, user['compensation']])

### 2020 год

In [ ]:
professions = {}

with open('/content/2020 Stack Overflow Survey Results.csv', encoding='latin-1') as csvfile:
    reader = csv.reader(csvfile, delimiter=',')
    n = 0
    for row in reader:
      if n:
        ProgrammingExperience = get_exp(row[60]) if row[60] != 'NA' else ''
        Occupations = row[13].split(';') if row[13] != 'NA' else ''
        Country = row[8] if row[8] != 'NA' else ''
        Compensation = ceil(float(row[7])) if row[7] != 'NA' and 1000000 > ceil(float(row[7])) > 5000 else 0
        Languages = row[22].split(';') if row[22] != 'NA' else ''
        if ProgrammingExperience and Occupations and Country and Compensation and Languages:
          for Occupation in Occupations:
            if Occupation not in professions:
              professions[Occupation] = []
            professions[Occupation].append(
                {'country/region': Country,
                'experience (years)': ProgrammingExperience,
                'languages': Languages,
                'compensation': Compensation})
        continue
      n += 1

In [ ]:
with open('2020 summary file.csv', 'w', encoding='latin-1') as w_file:
  file_writer = csv.writer(w_file, delimiter = ',')
  file_writer.writerow(['profession', 'country/region', 'experience (years)',
                        'Java', 'JavaScript', 'CSS', 'PHP', 'Python', 'Ruby',
                        'SQL', 'C#', 'C++', 'C', 'Perl', 'Other',  'compensation'])
  n = 0
  for prof in professions:
    users = sorted(professions[prof], key=lambda d: d['country/region'])
    for user in users:
      us_languages = user['languages']
      if us_languages:
        languages = []
        for lang in LANGS:
          if lang in us_languages or lang in ','.join(us_languages):
            languages.append('+')
            if lang in us_languages:
              us_languages.remove(lang)
          else:
            languages.append('-')
        if us_languages:
          languages.append(', '.join(us_languages))
        else:
          languages.append('-')
        file_writer.writerow([prof, user['country/region'], user['experience (years)'], *languages, user['compensation']])

### 2021 год

In [ ]:
def get_comp(total, frequent):
    if total and frequent:
      if frequent == 'Yearly':
        try:
          return ceil(float(total))
        except:
          return ''
      elif frequent == 'Yearly':
        try:
          return ceil(float(total)) * 12
        except:
          return ''
      else:
        try:
          return ceil(float(total)) * 52
        except:
          return ''
    return ''

In [ ]:
professions = {}

with open('/content/2021 Stack Overflow Survey Results.csv', encoding='latin-1') as csvfile:
    reader = csv.reader(csvfile, delimiter=',')
    n = 0
    for row in reader:
      if n:
        ProgrammingExperience = get_exp(row[10]) if row[10] != 'NA' else ''
        Occupations = row[11].split(';') if 'NA' not in row[11] and 'Other (please specify):' not in row[11] else ''
        Country = row[3]
        Compensation = get_comp(row[14], row[15])
        Languages = row[16].split(';') if row[16] != 'NA' else ''
        if ProgrammingExperience and Occupations and Country and Compensation and Languages:
          for Occupation in Occupations:
            if Occupation not in professions:
              professions[Occupation] = []
            professions[Occupation].append(
                {'country/region': Country,
                'experience (years)': ProgrammingExperience,
                'languages': Languages,
                'compensation': Compensation})
        continue
      n += 1

In [ ]:
with open('2021 summary file.csv', 'w', encoding='latin-1') as w_file:
  file_writer = csv.writer(w_file, delimiter = ',')
  file_writer.writerow(['profession', 'country/region', 'experience (years)',
                        'Java', 'JavaScript', 'CSS', 'PHP', 'Python', 'Ruby',
                        'SQL', 'C#', 'C++', 'C', 'Perl', 'Other',  'compensation'])
  n = 0
  for prof in professions:
    users = sorted(professions[prof], key=lambda d: d['country/region'])
    for user in users:
      us_languages = user['languages']
      if us_languages:
        languages = []
        for lang in LANGS:
          if lang in us_languages or lang in ','.join(us_languages):
            languages.append('+')
            if lang in us_languages:
              us_languages.remove(lang)
          else:
            languages.append('-')
        if us_languages:
          languages.append(', '.join(us_languages))
        else:
          languages.append('-')
        file_writer.writerow([prof, user['country/region'], user['experience (years)'], *languages, user['compensation']])

### 2022 год

In [ ]:
professions = {}

with open('/content/2022 Stack Overflow Survey Results.csv', encoding='latin-1') as csvfile:
    reader = csv.reader(csvfile, delimiter=',')
    n = 0
    for row in reader:
      if n:
        ProgrammingExperience = get_exp(row[10]) if row[10] != 'NA' else ''
        Occupations = row[11].split(';') if 'NA' not in row[11] and 'Other (please specify):' not in row[11] else ''
        Country = row[15] if row[15] != 'NA' else ''
        Compensation = get_comp(row[17], row[18])
        Languages = row[19].split(';') if row[19] != 'NA' else ''
        if ProgrammingExperience and Occupations and Country and Compensation and Languages:
          for Occupation in Occupations:
            if Occupation not in professions:
              professions[Occupation] = []
            professions[Occupation].append(
                {'country/region': Country,
                'experience (years)': ProgrammingExperience,
                'languages': Languages,
                'compensation': Compensation})
        continue
      n += 1

In [ ]:
with open('2022 summary file.csv', 'w', encoding='latin-1') as w_file:
  file_writer = csv.writer(w_file, delimiter = ',')
  file_writer.writerow(['profession', 'country/region', 'experience (years)',
                        'Java', 'JavaScript', 'CSS', 'PHP', 'Python', 'Ruby',
                        'SQL', 'C#', 'C++', 'C', 'Perl', 'Other',  'compensation'])
  n = 0
  for prof in professions:
    users = sorted(professions[prof], key=lambda d: d['country/region'])
    for user in users:
      us_languages = user['languages']
      if us_languages:
        languages = []
        for lang in LANGS:
          if lang in us_languages or lang in ','.join(us_languages):
            languages.append('+')
            if lang in us_languages:
              us_languages.remove(lang)
          else:
            languages.append('-')
        if us_languages:
          languages.append(', '.join(us_languages))
        else:
          languages.append('-')
        file_writer.writerow([prof, user['country/region'], user['experience (years)'], *languages, user['compensation']])

### 2023 год

In [ ]:
professions = {}

with open('/content/2023 Stack Overflow Survey Results.csv', encoding='latin-1') as csvfile:
    reader = csv.reader(csvfile, delimiter=',')
    n = 0
    for row in reader:
      if n:
        ProgrammingExperience = get_exp(row[12]) if row[12] != 'NA' else ''
        Occupation = row[13] if row[13] not in ('NA', 'Other (please specify):') else ''
        Country = row[18] if row[18] != 'NA' else ''
        Compensation = ceil(float(row[20])) if row[20] != 'NA' and 1000000 > ceil(float(row[20])) > 5000 else ''
        Languages = row[21].split(';') if row[21] != 'NA' else ''
        if ProgrammingExperience and Occupations and Country and Compensation and Languages:
          if Occupation not in professions:
            professions[Occupation] = []
          professions[Occupation].append(
              {'country/region': Country,
              'experience (years)': ProgrammingExperience,
              'languages': Languages,
              'compensation': Compensation})
        continue
      n += 1

In [ ]:
with open('2023 summary file.csv', 'w', encoding='latin-1') as w_file:
  file_writer = csv.writer(w_file, delimiter = ',')
  file_writer.writerow(['profession', 'country/region', 'experience (years)',
                        'Java', 'JavaScript', 'CSS', 'PHP', 'Python', 'Ruby',
                        'SQL', 'C#', 'C++', 'C', 'Perl', 'Other',  'compensation'])
  n = 0
  for prof in professions:
    users = sorted(professions[prof], key=lambda d: d['country/region'])
    for user in users:
      us_languages = user['languages']
      if us_languages:
        languages = []
        for lang in LANGS:
          if lang in us_languages or lang in ','.join(us_languages):
            languages.append('+')
            if lang in us_languages:
              us_languages.remove(lang)
          else:
            languages.append('-')
        if us_languages:
          languages.append(', '.join(us_languages))
        else:
          languages.append('-')
        file_writer.writerow([prof, user['country/region'], user['experience (years)'], *languages, user['compensation']])

### 2024 год

In [ ]:
professions = {}
cs = set()

with open('/content/2024 Stack Overflow Survey Results.csv', encoding='latin-1') as csvfile:
    reader = csv.reader(csvfile, delimiter=',')
    n = 0
    for row in reader:
      if n:
        ProgrammingExperience = get_exp(row[12]) if row[12] != 'NA' else ''
        Occupations = row[13].split(';') if 'NA' not in row[13] and 'Other (please specify):' not in row[13] else ''
        Country = row[19] if row[19] != 'NA' else ''
        Compensation = ceil(float(row[112])) if row[112] != 'NA' and 1000000 > ceil(float(row[112])) > 5000 else ''
        Languages = row[22].split(';')
        if ProgrammingExperience and Occupations and Country and Compensation and Languages:
          for Occupation in Occupations:
            if Occupation not in professions:
              professions[Occupation] = []
            professions[Occupation].append(
                {'country/region': Country,
                'experience (years)': ProgrammingExperience,
                'languages': Languages,
                'compensation': Compensation})
        continue
        cs.add(Compensation)
      n += 1

In [ ]:
with open('2024 summary file.csv', 'w', encoding='latin-1') as w_file:
  file_writer = csv.writer(w_file, delimiter = ',')
  file_writer.writerow(['profession', 'country/region', 'experience (years)',
                        'Java', 'JavaScript', 'CSS', 'PHP', 'Python', 'Ruby',
                        'SQL', 'C#', 'C++', 'C', 'Perl', 'Other',  'compensation'])
  n = 0
  for prof in professions:
    users = sorted(professions[prof], key=lambda d: d['country/region'])
    for user in users:
      us_languages = user['languages']
      if us_languages:
        languages = []
        for lang in LANGS:
          if lang in us_languages or lang in ','.join(us_languages):
            languages.append('+')
            if lang in us_languages:
              us_languages.remove(lang)
          else:
            languages.append('-')
        if us_languages:
          languages.append(', '.join(us_languages))
        else:
          languages.append('-')
        file_writer.writerow([prof, user['country/region'], user['experience (years)'], *languages, user['compensation']])

#Составление списка профессий

In [ ]:
import csv

In [ ]:
def get_profs_list(file_name: str) -> list:
  profs = set()

  with open(file_name, encoding='latin-1') as csvfile:
    reader = csv.reader(csvfile, delimiter=',')
    n = 0
    for row in reader:
      if n:
        profs.add(row[0])
        continue
      n += 1

  return sorted(list(profs))

In [ ]:
print('\n'.join(get_profs_list('2011 summary file.csv')))

Database Administrator
Desktop Application Developer
Embedded Application Developer
Executive (VP of Eng, CTO, CIO, etc.)
IT Manager
IT Staff / System Administrator
Kernel / Driver Developer
Manager of Developers or Team Leader
Server Programmer
Student
Systems Analyst
Web Application Developer

In [ ]:
print('\n'.join(get_profs_list('2012 summary file.csv')))

Database Administrator
Desktop Application Developer
Embedded Application Developer
Executive (VP of Eng, CTO, CIO, etc.)
IT Manager
IT Staff / System Administrator
Kernel / Driver Developer
Manager of Developers or Team Leader
Server Programmer
Student
Systems Analyst
Web Application Developer

In [ ]:
print('\n'.join(get_profs_list('2013 summary file.csv')))

Back-End Web Developer
Database Administrator
Desktop Software Developer
Embedded Application Developer
Enterprise Level Services
Executive (VP of Eng, CTO, CIO, etc.)
Front-End Web Developer
Full-Stack Web Developer
IT Staff / System Administrator
Manager of Developers or Team Leader
Mobile Application Developer
Student

In [ ]:
print('\n'.join(get_profs_list('2014 summary file.csv')))

Back-End Web Developer
Database Administrator
Desktop Software Developer
DevOps
Embedded Application Developer
Enterprise Level Services
Executive (VP of Eng, CTO, CIO, etc.)
Front-End Web Developer
Full-Stack Web Developer
IT Staff / System Administrator
Manager of Developers or Team Leader
Mobile Application Developer
Student

In [ ]:
print('\n'.join(get_profs_list('2015 summary file.csv')))

Back-end web developer
Business intelligence or data warehousing expert
Data scientist
Database administrator
Designer
Desktop developer
DevOps
Developer with a statistics or mathematics background
Embedded application developer
Enterprise level services developer
Executive (VP of Eng., CTO, CIO, etc.)
Front-end web developer
Full-stack web developer
Graphics programmer
Growth hacker
Machine learning developer
Mobile developer
Mobile developer - Android
Mobile developer - Windows Phone
Mobile developer - iOS
Product manager
Quality Assurance
Student
System administrator

In [ ]:
print('\n'.join(get_profs_list('2016 summary file.csv')))

Analyst
Back-end web developer
Business intelligence or data warehousing expert
Data scientist
Database administrator
Designer
Desktop developer
DevOps
Developer with a statistics or mathematics background
Embedded application developer
Engineering manager
Enterprise level services developer
Executive (VP of Eng., CTO, CIO, etc.)
Front-end web developer
Full-stack web developer
Graphics programmer
Growth hacker
Machine learning developer
Mobile developer
Mobile developer - Android
Mobile developer - Windows Phone
Mobile developer - iOS
Product manager
Quality Assurance
Student
System administrator

In [ ]:
print('\n'.join(get_profs_list('2017 summary file.csv')))

Android
Back-end Web developer
Data scientist
Database administrator
Desktop applications developer
DevOps specialist
Developer with a statistics or mathematics background
Embedded applications/devices developer
Front-end Web developer
Full stack Web developer
Graphic designer
Graphics programming
Machine learning specialist
Mobile developer
Quality assurance engineer
Systems administrator
Web developer
Windows Phone
iOS

In [ ]:
print('\n'.join(get_profs_list('2018 summary file.csv')))

Back-end developer
C-suite executive (CEO, CTO, etc.)
Data or business analyst
Data scientist or machine learning specialist
Database administrator
Designer
Desktop or enterprise applications developer
DevOps specialist
Educator or academic researcher
Embedded applications or devices developer
Engineering manager
Front-end developer
Full-stack developer
Game or graphics developer
Marketing or sales professional
Mobile developer
Product manager
QA or test developer
Student
System administrator

In [ ]:
print('\n'.join(get_profs_list('2019 summary file.csv')))

Academic researcher
Data or business analyst
Data scientist or machine learning specialist
Database administrator
Designer
DevOps specialist
Developer, QA or test
Developer, back-end
Developer, desktop or enterprise applications
Developer, embedded applications or devices
Developer, front-end
Developer, full-stack
Developer, game or graphics
Developer, mobile
Educator
Engineer, data
Engineer, site reliability
Engineering manager
Marketing or sales professional
Product manager
Scientist
Senior executive/VP
Student
System administrator

In [ ]:
print('\n'.join(get_profs_list('2020 summary file.csv')))

Academic researcher
Data or business analyst
Data scientist or machine learning specialist
Database administrator
Designer
DevOps specialist
Developer, QA or test
Developer, back-end
Developer, desktop or enterprise applications
Developer, embedded applications or devices
Developer, front-end
Developer, full-stack
Developer, game or graphics
Developer, mobile
Educator
Engineer, data
Engineer, site reliability
Engineering manager
Marketing or sales professional
Product manager
Scientist
Senior executive/VP
System administrator

In [ ]:
print('\n'.join(get_profs_list('2021 summary file.csv')))

Academic researcher
Data or business analyst
Data scientist or machine learning specialist
Database administrator
Designer
DevOps specialist
Developer, QA or test
Developer, back-end
Developer, desktop or enterprise applications
Developer, embedded applications or devices
Developer, front-end
Developer, full-stack
Developer, game or graphics
Developer, mobile
Educator
Engineer, data
Engineer, site reliability
Engineering manager
Marketing or sales professional
Product manager
Scientist
Senior Executive (C-Suite, VP, etc.)
Student
System administrator

In [ ]:
print('\n'.join(get_profs_list('2022 summary file.csv')))

Academic researcher
Blockchain
Cloud infrastructure engineer
Data or business analyst
Data scientist or machine learning specialist
Database administrator
Designer
DevOps specialist
Developer, QA or test
Developer, back-end
Developer, desktop or enterprise applications
Developer, embedded applications or devices
Developer, front-end
Developer, full-stack
Developer, game or graphics
Developer, mobile
Educator
Engineer, data
Engineer, site reliability
Engineering manager
Marketing or sales professional
Product manager
Project manager
Scientist
Security professional
Senior Executive (C-Suite, VP, etc.)
Student
System administrator

In [ ]:
print('\n'.join(get_profs_list('2023 summary file.csv')))

Academic researcher
Blockchain
Cloud infrastructure engineer
Data or business analyst
Data scientist or machine learning specialist
Database administrator
Designer
DevOps specialist
Developer Advocate
Developer Experience
Developer, QA or test
Developer, back-end
Developer, desktop or enterprise applications
Developer, embedded applications or devices
Developer, front-end
Developer, full-stack
Developer, game or graphics
Developer, mobile
Educator
Engineer, data
Engineer, site reliability
Engineering manager
Hardware Engineer
Marketing or sales professional
Product manager
Project manager
Research & Development role
Scientist
Security professional
Senior Executive (C-Suite, VP, etc.)
Student
System administrator

In [ ]:
print('\n'.join(get_profs_list('2024 summary file.csv')))

Academic researcher
Blockchain
Cloud infrastructure engineer
Data engineer
Data or business analyst
Data scientist or machine learning specialist
Database administrator
Designer
DevOps specialist
Developer Advocate
Developer Experience
Developer, AI
Developer, QA or test
Developer, back-end
Developer, desktop or enterprise applications
Developer, embedded applications or devices
Developer, front-end
Developer, full-stack
Developer, game or graphics
Developer, mobile
Educator
Engineer, site reliability
Engineering manager
Hardware Engineer
Marketing or sales professional
Product manager
Project manager
Research & Development role
Scientist
Security professional
Senior Executive (C-Suite, VP, etc.)
Student
System administrator

C 2011 года:

In [ ]:
#Database administrator
#Student
#Executive (VP of Eng., CTO, CIO, etc.);C-suite executive (CEO, CTO, etc.);Senior executive/VP;Senior Executive (C-Suite, VP, etc.)
#IT Manager;Manager of Developers or Team Leader;Engineering manager
#IT Manager;Manager of Developers or Team Leader;Product manager;Project manager
#IT Staff / System Administrator;System administrator
#Web Application Developer;Web developer;Back-End Web Developer;Back-end web developer;Back-end Web developer;Back-end developer;Developer, back-end
#Web Application Developer;Web developer;Front-End Web Developer;Front-end web developer;Front-end Web developer;Front-end developer;Developer, front-end
#Web Application Developer;Web developer;Full-Stack Web Developer;Full-stack web developer;Full stack Web developer;Full-stack developer;Developer, full-stack
#Desktop Application Developer;Desktop Software Developer;Desktop developer;Desktop applications developer;Desktop or enterprise applications developer;Developer, desktop or enterprise applications
#Embedded Application Developer;Embedded application developer;Embedded applications/devices developer;Embedded applications or devices developer;Developer, embedded applications or devices

С 2013 года:

In [ ]:
#Mobile Application Developer;Mobile developer;Mobile developer - Android;Android;Developer, mobile
#Mobile Application Developer;Mobile developer;Mobile developer - Windows Phone;Windows Phone;Developer, mobile
#Mobile Application Developer;Mobile developer;Mobile developer - iOS;iOS;Developer, mobile

С 2014 года:

In [ ]:
#DevOps;DevOps specialist

С 2015 года:

In [ ]:
#Data scientist;Data scientist or machine learning specialist
#Machine learning developer;Machine learning specialist;Data scientist or machine learning specialist
#Designer;Graphic designer
#Graphics programmer;Graphics programming;Game or graphics developer;Developer, game or graphics
#Quality Assurance;Quality assurance engineer;QA or test developer;Developer, QA or test
#Business intelligence or data warehousing expert;Data or business analyst;Analyst

С 2018 года:

In [ ]:
#Educator or academic researcher;Educator;Academic researcher
#Marketing or sales professional

С 2019 года:

In [ ]:
#Engineer, data
#Engineer, site reliability

# Словарь профессий

In [ ]:
PROFS = {
    "Database administrator": "Database administrator",
    "Database Administrator": "Database administrator",
    "Executive (VP of Eng., CTO, CIO, etc.)": "Executive",
    "Executive (VP of Eng, CTO, CIO, etc)": "Executive",
    "C-suite executive (CEO, CTO, etc.)": "Executive",
    "Senior executive/VP": "Executive",
    "Senior Executive (C-Suite, VP, etc.)": "Executive",
    "Data engineer": "Engineer, data",
    "IT Manager": [
        "Engineering manager",
        "Product manager"
    ],
    "Manager of Developers or Team Leader": [
        "Engineering manager",
        "Product manager"
    ],
    "Engineering manager": "Engineering manager",
    "Product manager": "Product manager",
    "Project manager": "Product manager",
    "IT Staff / System Administrator": "System administrator",
    "System administrator": "System administrator",
    "System Administrator": "System administrator",
    "Systems administrator": "System administrator",
    "Web Application Developer": [
        "Developer, back-end",
        "Developer, front-end",
        "Developer, full-stack"
    ],
    "Web developer": [
        "Developer, back-end",
        "Developer, front-end",
        "Developer, full-stack"
    ],
    "Back-End Web Developer": "Developer, back-end",
    "Back-end web developer": "Developer, back-end",
    "Back-end Web developer": "Developer, back-end",
    "Back-end developer": "Developer, back-end",
    "Developer, back-end": "Developer, back-end",
    "Front-End Web Developer": "Developer, front-end",
    "Front-end web developer": "Developer, front-end",
    "Front-end Web developer": "Developer, front-end",
    "Front-end developer": "Developer, front-end",
    "Developer, front-end": "Developer, front-end",
    "Full-Stack Web Developer": "Developer, full-stack",
    "Full-stack web developer": "Developer, full-stack",
    "Full stack Web developer": "Developer, full-stack",
    "Full-stack developer": "Developer, full-stack",
    "Developer, full-stack": "Developer, full-stack",
    "Desktop Application Developer": "Developer, desktop or enterprise applications",
    "Desktop Software Developer": "Developer, desktop or enterprise applications",
    "Desktop developer": "Developer, desktop or enterprise applications",
    "Desktop applications developer": "Developer, desktop or enterprise applications",
    "Desktop or enterprise applications developer": "Developer, desktop or enterprise applications",
    "Developer, desktop or enterprise applications": "Developer, desktop or enterprise applications",
    "Embedded Application Developer": "Developer, embedded applications or devices",
    "Embedded application developer": "Developer, embedded applications or devices",
    "Embedded applications/devices developer": "Developer, embedded applications or devices",
    "Embedded applications or devices developer": "Developer, embedded applications or devices",
    "Developer, embedded applications or devices": "Developer, embedded applications or devices",
    # с 2013 года
    "Mobile Application Developer": [
        "Mobile developer - Android",
        "Mobile developer - Windows Phone",
        "Mobile developer - iOS"
    ],
    "Mobile developer": [
        "Mobile developer - Android",
        "Mobile developer - Windows Phone",
        "Mobile developer - iOS"
    ],
    "Developer, mobile": [
        "Mobile developer - Android",
        "Mobile developer - Windows Phone",
        "Mobile developer - iOS"
    ],
    "Mobile developer - Android": "Mobile developer - Android",
    "Android": "Mobile developer - Android",
    "Mobile developer - Windows Phone": "Mobile developer - Windows Phone",
    "Windows Phone": "Mobile developer - Windows Phone",
    "Mobile developer - iOS": "Mobile developer - iOS",
    "iOS": "Mobile developer - iOS",
    # с 2014 года
    "DevOps": "DevOps specialist",
    "DevOps specialist": "DevOps specialist",
    # с 2015 года
    "Data scientist or machine learning specialist": [
        "Data scientist",
        "Machine learning specialist"
    ],
    "Data scientist": "Data scientist",
    "Machine learning developer": "Machine learning specialist",
    "Machine learning specialist": "Machine learning specialist",
    "Designer": "Designer",
    "Graphic designer": "Designer",
    "Graphics programmer": "Developer, game or graphics",
    "Graphics programming": "Developer, game or graphics",
    "Game or graphics developer": "Developer, game or graphics",
    "Developer, game or graphics": "Developer, game or graphics",
    "Quality Assurance": "Developer, QA or test",
    "Quality assurance engineer": "Developer, QA or test",
    "QA or test developer": "Developer, QA or test",
    "Developer, QA or test": "Developer, QA or test",
    "Business intelligence or data warehousing expert": "Data or business analyst",
    "Data or business analyst": "Data or business analyst",
    "Analyst": "Data or business analyst",
    # с 2018 года
    "Educator or academic researcher": "Educator or academic researcher",
    "Educator": "Educator or academic researcher",
    "Academic researcher": "Educator or academic researcher",
    # с 2019 года
    "Engineer, data": "Engineer, data",
    "Engineer, site reliability": "Engineer, site reliability"
    }

In [ ]:
import json

with open('ProfessionsDict.json', 'w') as f:
    f.write(json.dumps(PROFS, indent=4))

# Обработка файлов с учетов словаря профессий

In [ ]:
import csv

In [ ]:
def processing(year: int) -> None:
  with open(f'{year} summary file.csv', encoding='latin-1') as fr, \
  open(f'{year} summary file processed.csv', 'w', encoding='latin-1') as fw:
    reader = csv.reader(fr, delimiter=',')
    writer = csv.writer(fw, delimiter=';')
    flag = False

    for row in reader:
      if flag:
        prof = row[0]
        if prof in PROFS and 5000 < float(row[-1]) < 150000:
          right_name = PROFS[prof]
          if isinstance(right_name, str):
            writer.writerow([right_name] + row[1:])
          else:
            for rn in right_name:
              writer.writerow([rn] + row[1:])
        continue

      writer.writerow(row)
      flag = True

In [ ]:
for year in range(2011, 2025):
  processing(year)

# Создание базы данных

In [ ]:
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Создание DataFrame

In [ ]:
def adjust_for_inflation(salary: float,
                         year: int,
                         base_year: int=2024,
                         inflation_rates: dict=None) -> float:

    if inflation_rates is None:
      # Данные взяты с сайта
      # https://tradingeconomics.com/united-states/inflation-cpi
      inflation_rates = {
          2011: 0.0317,
          2012: 0.0208,
          2013: 0.0148,
          2014: 0.0163,
          2015: 0.0013,
          2016: 0.0127,
          2017: 0.0212,
          2018: 0.0245,
          2019: 0.0182,
          2020: 0.0123,
          2021: 0.0470,
          2022: 0.0802,
          2023: 0.0414,
          2024: 0.0296
          }

    if year == base_year:
      return salary

    adjusted_salary = salary

    for i in range(year, base_year):
      adjusted_salary *= (1 + inflation_rates[i + 1])

    return adjusted_salary

In [ ]:
def get_data() -> list:
  data = list()
  for year in range(2011, 2025):
    with open(f'{year} summary file processed.csv', encoding='latin-1') as f:
      reader = csv.reader(f, delimiter=';')
      flag = False
      for row in reader:
        if flag:
          drow = [year] + row + [adjust_for_inflation(float(row[-1]), year)]
          data.append(drow)
        flag = True
  return data

In [ ]:
column_names = ['year', 'prof', 'country', 'exp',
                'Java', 'JavaScript', 'HTML/CSS', 'PHP', 'Python',
                'Ruby', 'SQL', 'C#', 'C++', 'C', 'Perl', 'Other',
                'comp', 'adjusted_comp']

df = pd.DataFrame(
    get_data(),
    columns=column_names
    ).astype({'exp': 'int', 'comp': 'float'})

In [ ]:
df.head(20)

,year,prof,country,exp,Java,JavaScript,HTML/CSS,PHP,Python,Ruby,SQL,C#,C++,C,Perl,Other,comp,adjusted_comp
0,2011,"Developer, back-end",Africa,11,-,-,-,+,-,-,+,-,-,-,-,None,110000.0,153561.666682
1,2011,"Developer, front-end",Africa,11,-,-,-,+,-,-,+,-,-,-,-,None,110000.0,153561.666682
2,2011,"Developer, full-stack",Africa,11,-,-,-,+,-,-,+,-,-,-,-,None,110000.0,153561.666682
3,2011,"Developer, back-end",Africa,8,-,+,+,+,-,-,+,-,-,-,-,-,30000.0,41880.454550
4,2011,"Developer, front-end",Africa,8,-,+,+,+,-,-,+,-,-,-,-,-,30000.0,41880.454550
5,2011,"Developer, full-stack",Africa,8,-,+,+,+,-,-,+,-,-,-,-,-,30000.0,41880.454550
6,2011,"Developer, back-end",Africa,4,-,+,+,+,-,-,-,-,+,+,-,-,10000.0,13960.151517
7,2011,"Developer, front-end",Africa,4,-,+,+,+,-,-,-,-,+,+,-,-,10000.0,13960.151517
8,2011,"Developer, full-stack",Africa,4,-,+,+,+,-,-,-,-,+,+,-,-,10000.0,13960.151517
9,2011,"Developer, back-end",Africa,4,+,+,-,-,-,-,+,+,-,-,-,-,10000.0,13960.151517
10,2011,"Developer, front-end",Africa,4,+,+,-,-,-,-,+,+,-,-,-,-,10000.0,13960.151517
11,2011,"Developer, full-stack",Africa,4,+,+,-,-,-,-,+,+,-,-,-,-,10000.0,13960.151517
12,2011,"Developer, back-end",Africa,4,-,-,-,-,-,-,-,+,-,-,-,"VBA, Coldfusion",50000.0,69800.757583
13,2011,"Developer, front-end",Africa,4,-,-,-,-,-,-,-,+,-,-,-,"VBA, Coldfusion",50000.0,69800.757583
14,2011,"Developer, full-stack",Africa,4,-,-,-,-,-,-,-,+,-,-,-,"VBA, Coldfusion",50000.0,69800.757583
15,2011,"Developer, back-end",Africa,11,-,+,+,+,+,-,+,+,-,+,-,-,50000.0,69800.757583
16,2011,"Developer, front-end",Africa,11,-,+,+,+,+,-,+,+,-,+,-,-,50000.0,69800.757583
17,2011,"Developer, full-stack",Africa,11,-,+,+,+,+,-,+,+,-,+,-,-,50000.0,69800.757583
18,2011,"Developer, back-end",Africa,4,-,-,-,+,-,-,+,-,-,-,-,Visual Basic,30000.0,41880.454550
19,2011,"Developer, front-end",Africa,4,-,-,-,+,-,-,+,-,-,-,-,Visual Basic,30000.0,41880.454550

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 598899 entries, 0 to 598898
Data columns (total 18 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   year           598899 non-null  int64
 1   prof           598899 non-null  object
 2   country        598899 non-null  object
 3   exp            598899 non-null  int64
 4   Java           598899 non-null  object
 5   JavaScript     598899 non-null  object
 6   HTML/CSS       598899 non-null  object
 7   PHP            598899 non-null  object
 8   Python         598899 non-null  object
 9   Ruby           598899 non-null  object
 10  SQL            598899 non-null  object
 11  C#             598899 non-null  object
 12  C++            598899 non-null  object
 13  C              598899 non-null  object
 14  Perl           598899 non-null  object
 15  Other          598899 non-null  object
 16  comp           598899 non-null  float64
 17  adjusted_comp  598899 non-null  float64
dtypes: float64(2), int64(2), object(14)
memory usage: 82.2+ MB

In [ ]:
df.prof.unique()

array(['Developer, back-end', 'Developer, front-end',
       'Developer, full-stack',
       'Developer, desktop or enterprise applications',
       'System administrator', 'Database administrator',
       'Engineering manager', 'Product manager',
       'Developer, embedded applications or devices',
       'Mobile developer - Android', 'Mobile developer - Windows Phone',
       'Mobile developer - iOS', 'DevOps specialist',
       'Data or business analyst', 'Data scientist', 'Designer',
       'Executive', 'Developer, game or graphics',
       'Machine learning specialist', 'Developer, QA or test',
       'Educator or academic researcher', 'Engineer, data',
       'Engineer, site reliability'], dtype=object)

In [ ]:
for col in column_names[4:15]:
  df.loc[df[col] == '+', col] = 1
  df.loc[df[col] == '-', col] = 0
  df = df.astype({col: 'int'})

In [ ]:
df.loc[(df.Other == '-') | (df.Other == 'None'), 'Other'] = 'NA'

In [ ]:
df.head(20)

,year,prof,country,exp,Java,JavaScript,HTML/CSS,PHP,Python,Ruby,SQL,C#,C++,C,Perl,Other,comp,adjusted_comp
0,2011,"Developer, back-end",Africa,11,0,0,0,1,0,0,1,0,0,0,0,NA,110000.0,153561.666682
1,2011,"Developer, front-end",Africa,11,0,0,0,1,0,0,1,0,0,0,0,NA,110000.0,153561.666682
2,2011,"Developer, full-stack",Africa,11,0,0,0,1,0,0,1,0,0,0,0,NA,110000.0,153561.666682
3,2011,"Developer, back-end",Africa,8,0,1,1,1,0,0,1,0,0,0,0,NA,30000.0,41880.454550
4,2011,"Developer, front-end",Africa,8,0,1,1,1,0,0,1,0,0,0,0,NA,30000.0,41880.454550
5,2011,"Developer, full-stack",Africa,8,0,1,1,1,0,0,1,0,0,0,0,NA,30000.0,41880.454550
6,2011,"Developer, back-end",Africa,4,0,1,1,1,0,0,0,0,1,1,0,NA,10000.0,13960.151517
7,2011,"Developer, front-end",Africa,4,0,1,1,1,0,0,0,0,1,1,0,NA,10000.0,13960.151517
8,2011,"Developer, full-stack",Africa,4,0,1,1,1,0,0,0,0,1,1,0,NA,10000.0,13960.151517
9,2011,"Developer, back-end",Africa,4,1,1,0,0,0,0,1,1,0,0,0,NA,10000.0,13960.151517
10,2011,"Developer, front-end",Africa,4,1,1,0,0,0,0,1,1,0,0,0,NA,10000.0,13960.151517
11,2011,"Developer, full-stack",Africa,4,1,1,0,0,0,0,1,1,0,0,0,NA,10000.0,13960.151517
12,2011,"Developer, back-end",Africa,4,0,0,0,0,0,0,0,1,0,0,0,"VBA, Coldfusion",50000.0,69800.757583
13,2011,"Developer, front-end",Africa,4,0,0,0,0,0,0,0,1,0,0,0,"VBA, Coldfusion",50000.0,69800.757583
14,2011,"Developer, full-stack",Africa,4,0,0,0,0,0,0,0,1,0,0,0,"VBA, Coldfusion",50000.0,69800.757583
15,2011,"Developer, back-end",Africa,11,0,1,1,1,1,0,1,1,0,1,0,NA,50000.0,69800.757583
16,2011,"Developer, front-end",Africa,11,0,1,1,1,1,0,1,1,0,1,0,NA,50000.0,69800.757583
17,2011,"Developer, full-stack",Africa,11,0,1,1,1,1,0,1,1,0,1,0,NA,50000.0,69800.757583
18,2011,"Developer, back-end",Africa,4,0,0,0,1,0,0,1,0,0,0,0,Visual Basic,30000.0,41880.454550
19,2011,"Developer, front-end",Africa,4,0,0,0,1,0,0,1,0,0,0,0,Visual Basic,30000.0,41880.454550

In [ ]:
df.Other.fillna('NA', inplace=True)

<ipython-input-30-dac7420058b1>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Other.fillna('NA', inplace=True)

In [ ]:
df.to_csv('ProfsDF.csv', sep=';', index=False, encoding='utf-8')

### Составим множество стран и словарь частей света

In [ ]:
import pandas as pd
df = pd.read_csv('ProfsDF.csv', delimiter=';')

In [ ]:
df.loc[df.country == 'Russia', 'country'] = 'Russian Federation'
df.loc[df.country == 'United States', 'country'] = \
'United States of America'
df.loc[df.country == 'United Kingdom', 'country'] = \
'United Kingdom of Great Britain and Northern Ireland'
df.loc[(df.country == 'Bosnia Herzegovina') | \
 (df.country == 'Bosnia-Herzegovina'), 'country'] = 'Bosnia and Herzegovina'
df.loc[df.country == 'Iran, Islamic Republic of...', 'country'] = 'Iran'
df.loc[df.country == 'Ireland {Republic}', 'country'] = 'Ireland'
df.loc[(df.country == 'The former Yugoslav Republic of Macedonia') | \
 (df.country == 'Republic of North Macedonia') | \
  (df.country == 'Macedonia [FYROM]'), 'country'] = 'Macedonia'
df.loc[(df.country == 'Myanmar, {Burma}') | \
 (df.country == 'Myanmar [Burma]'), 'country'] = 'Myanmar'
df.loc[(df.country == 'Republic of Moldova') | \
 (df.country == 'Moldova'), 'country'] = 'Moldavia'
df.loc[df.country == 'Slovak Republic', 'country'] = 'Slovakia'
df.loc[df.country == 'Korea South', 'country'] = 'South Korea'
df.loc[df.country == 'Venezuela, Bolivarian Republic of...', 'country'] =\
'Venezuela'
df.loc[df.country == 'Viet Nam', 'country'] = 'Vietnam'

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 598899 entries, 0 to 598898
Data columns (total 18 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   year           598899 non-null  int64
 1   prof           598899 non-null  object
 2   country        598899 non-null  object
 3   exp            598899 non-null  int64
 4   Java           598899 non-null  int64
 5   JavaScript     598899 non-null  int64
 6   HTML/CSS       598899 non-null  int64
 7   PHP            598899 non-null  int64
 8   Python         598899 non-null  int64
 9   Ruby           598899 non-null  int64
 10  SQL            598899 non-null  int64
 11  C#             598899 non-null  int64
 12  C++            598899 non-null  int64
 13  C              598899 non-null  int64
 14  Perl           598899 non-null  int64
 15  Other          553557 non-null  object
 16  comp           598899 non-null  float64
 17  adjusted_comp  598899 non-null  float64
dtypes: float64(2), int64(13), object(3)
memory usage: 82.2+ MB

In [ ]:
countries = []
for year in range(2011, 2025):
  countries.append(sorted(df.loc[df.year == year].country.unique()))

In [ ]:
common_countries = set(countries[3])

for lst in countries[4:]:
  common_countries = common_countries.intersection(set(lst))

In [ ]:
common_countries

{'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Bangladesh',
 'Belarus',
 'Belgium',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Brazil',
 'Bulgaria',
 'Canada',
 'Chile',
 'China',
 'Colombia',
 'Costa Rica',
 'Croatia',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Estonia',
 'Finland',
 'France',
 'Georgia',
 'Germany',
 'Greece',
 'Hungary',
 'India',
 'Indonesia',
 'Iran',
 'Ireland',
 'Israel',
 'Italy',
 'Japan',
 'Jordan',
 'Latvia',
 'Lebanon',
 'Lithuania',
 'Macedonia',
 'Malaysia',
 'Malta',
 'Mexico',
 'Moldavia',
 'Morocco',
 'Myanmar',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Norway',
 'Pakistan',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Romania',
 'Russian Federation',
 'Saudi Arabia',
 'Serbia',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'South Africa',
 'South Korea',
 'Spain',
 'Sri Lanka',
 'Sweden',
 'Switzerland',
 'Taiwan',
 'Thailand',
 'Tunisia',
 'Turkey',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom of Great Britain and Northern Ireland',
 'United States of America',
 'Uruguay',
 'Venezuela',
 'Vietnam'}

In [ ]:
WorldParts = {
    'Africa'                : ['Morocco', 'South Africa', 'Tunisia'],
    'Australasia'           : ['New Zealand'],
    'Central America'       : ['El Salvador'],
    'Middle East'           : ['Cyprus', 'Egypt', 'Israel', 'Jordan',
                               'Lebanon', 'Pakistan', 'Saudi Arabia',
                               'Turkey', 'United Arab Emirates'],
    'North America (Other)' : ['Costa Rica', 'Dominican Republic'],
    'Other Asia'            : ['Armenia', 'China', 'Indonesia', 'Iran',
                               'Japan', 'Malaysia', 'Myanmar', 'Nepal',
                               'Philippines', 'Singapore', 'South Korea',
                               'Sri Lanka', 'Taiwan', 'Thailand', 'Vietnam'],
    'Other Europe'          : ['Austria', 'Belarus', 'Belgium',
                               'Bosnia and Herzegovina', 'Bulgaria',
                               'Croatia', 'Czech Republic', 'Denmark',
                               'Estonia', 'Finland', 'Georgia', 'Greece',
                               'Hungary', 'Ireland', 'Latvia', 'Lithuania',
                               'Macedonia', 'Malta', 'Moldavia', 'Norway',
                               'Poland', 'Portugal', 'Romania', 'Serbia',
                               'Slovakia', 'Slovenia', 'Spain', 'Sweden',
                               'Switzerland', 'Ukraine'],
    'South America'         : ['Argentina', 'Bolivia', 'Brazil', 'Chile',
                               'Colombia', 'Ecuador', 'Peru', 'Uruguay',
                               'Venezuela']
}

### Обновим DataFrame в соответствии с новым множеством стран и словарем частей света

In [ ]:
new_df = df.loc[df.country.isin(common_countries)]

In [ ]:
df_2011 = df.loc[(df.year == 2011) & ~(df.country.isin(common_countries))]
df_2012_2013 = df.loc[((df.year == 2012) | (df.year == 2013)) & ~(df.country.isin(common_countries))]

In [ ]:
for wp in WorldParts:
  new_countries = WorldParts[wp]
  if wp == 'Other Asia':
    new_countries.append('Bangladesh')
  for nc in new_countries:
    df_temp = df_2011.loc[df_2011.country == wp]
    df_temp.loc[df_temp.country == wp, 'country'] = nc
    new_df = pd.concat([new_df, df_temp], ignore_index=True)

In [ ]:
for wp in WorldParts:
  new_countries = WorldParts[wp]
  for nc in new_countries:
    df_temp = df_2012_2013.loc[df_2012_2013.country == wp]
    df_temp.loc[df_temp.country == wp, 'country'] = nc
    new_df = pd.concat([new_df, df_temp], ignore_index=True)

In [ ]:
df = new_df.sort_values('year', ignore_index=True)

In [ ]:
df.to_csv('NewProfsDF.csv', sep=';', index=False, encoding='utf-8')

### Генерация INSERT-ов

In [ ]:
import pandas as pd

df = pd.read_csv('NewProfsDF.csv', delimiter=';')

In [ ]:
for country in sorted(df['country'].unique()):
  print(f"INSERT INTO countries (country_name) VALUES ('{country}');")

INSERT INTO countries (country_name) VALUES ('Argentina');
INSERT INTO countries (country_name) VALUES ('Armenia');
INSERT INTO countries (country_name) VALUES ('Australia');
INSERT INTO countries (country_name) VALUES ('Austria');
INSERT INTO countries (country_name) VALUES ('Bangladesh');
INSERT INTO countries (country_name) VALUES ('Belarus');
INSERT INTO countries (country_name) VALUES ('Belgium');
INSERT INTO countries (country_name) VALUES ('Bolivia');
INSERT INTO countries (country_name) VALUES ('Bosnia and Herzegovina');
INSERT INTO countries (country_name) VALUES ('Brazil');
INSERT INTO countries (country_name) VALUES ('Bulgaria');
INSERT INTO countries (country_name) VALUES ('Canada');
INSERT INTO countries (country_name) VALUES ('Chile');
INSERT INTO countries (country_name) VALUES ('China');
INSERT INTO countries (country_name) VALUES ('Colombia');
INSERT INTO countries (country_name) VALUES ('Costa Rica');
INSERT INTO countries (country_name) VALUES ('Croatia');
INSERT INTO countries (country_name) VALUES ('Cyprus');
INSERT INTO countries (country_name) VALUES ('Czech Republic');
INSERT INTO countries (country_name) VALUES ('Denmark');
INSERT INTO countries (country_name) VALUES ('Dominican Republic');
INSERT INTO countries (country_name) VALUES ('Ecuador');
INSERT INTO countries (country_name) VALUES ('Egypt');
INSERT INTO countries (country_name) VALUES ('El Salvador');
INSERT INTO countries (country_name) VALUES ('Estonia');
INSERT INTO countries (country_name) VALUES ('Finland');
INSERT INTO countries (country_name) VALUES ('France');
INSERT INTO countries (country_name) VALUES ('Georgia');
INSERT INTO countries (country_name) VALUES ('Germany');
INSERT INTO countries (country_name) VALUES ('Greece');
INSERT INTO countries (country_name) VALUES ('Hungary');
INSERT INTO countries (country_name) VALUES ('India');
INSERT INTO countries (country_name) VALUES ('Indonesia');
INSERT INTO countries (country_name) VALUES ('Iran');
INSERT INTO countries (country_name) VALUES ('Ireland');
INSERT INTO countries (country_name) VALUES ('Israel');
INSERT INTO countries (country_name) VALUES ('Italy');
INSERT INTO countries (country_name) VALUES ('Japan');
INSERT INTO countries (country_name) VALUES ('Jordan');
INSERT INTO countries (country_name) VALUES ('Latvia');
INSERT INTO countries (country_name) VALUES ('Lebanon');
INSERT INTO countries (country_name) VALUES ('Lithuania');
INSERT INTO countries (country_name) VALUES ('Macedonia');
INSERT INTO countries (country_name) VALUES ('Malaysia');
INSERT INTO countries (country_name) VALUES ('Malta');
INSERT INTO countries (country_name) VALUES ('Mexico');
INSERT INTO countries (country_name) VALUES ('Moldavia');
INSERT INTO countries (country_name) VALUES ('Morocco');
INSERT INTO countries (country_name) VALUES ('Myanmar');
INSERT INTO countries (country_name) VALUES ('Nepal');
INSERT INTO countries (country_name) VALUES ('Netherlands');
INSERT INTO countries (country_name) VALUES ('New Zealand');
INSERT INTO countries (country_name) VALUES ('Norway');
INSERT INTO countries (country_name) VALUES ('Pakistan');
INSERT INTO countries (country_name) VALUES ('Peru');
INSERT INTO countries (country_name) VALUES ('Philippines');
INSERT INTO countries (country_name) VALUES ('Poland');
INSERT INTO countries (country_name) VALUES ('Portugal');
INSERT INTO countries (country_name) VALUES ('Romania');
INSERT INTO countries (country_name) VALUES ('Russian Federation');
INSERT INTO countries (country_name) VALUES ('Saudi Arabia');
INSERT INTO countries (country_name) VALUES ('Serbia');
INSERT INTO countries (country_name) VALUES ('Singapore');
INSERT INTO countries (country_name) VALUES ('Slovakia');
INSERT INTO countries (country_name) VALUES ('Slovenia');
INSERT INTO countries (country_name) VALUES ('South Africa');
INSERT INTO countries (country_name) VALUES ('South Korea');
INSERT INTO countries (country_name) VALUES ('Spain');
INSERT INTO countries (country_name) VALUES ('Sri Lanka');
INSERT INTO countries (country_name) VALUES ('Sweden');
INSERT INTO countries (country_name) VALUES ('Switzerland');
INSERT INTO countries (country_name) VALUES ('Taiwan');
INSERT INTO countries (country_name) VALUES ('Thailand');
INSERT INTO countries (country_name) VALUES ('Tunisia');
INSERT INTO countries (country_name) VALUES ('Turkey');
INSERT INTO countries (country_name) VALUES ('Ukraine');
INSERT INTO countries (country_name) VALUES ('United Arab Emirates');
INSERT INTO countries (country_name) VALUES ('United Kingdom of Great Britain and Northern Ireland');
INSERT INTO countries (country_name) VALUES ('United States of America');
INSERT INTO countries (country_name) VALUES ('Uruguay');
INSERT INTO countries (country_name) VALUES ('Venezuela');
INSERT INTO countries (country_name) VALUES ('Vietnam');

In [ ]:
for prof in sorted(df['prof'].unique()):
  print(f"INSERT INTO professions (prof_name) VALUES ('{prof}');")

INSERT INTO professions (prof_name) VALUES ('Data or business analyst');
INSERT INTO professions (prof_name) VALUES ('Data scientist');
INSERT INTO professions (prof_name) VALUES ('Database administrator');
INSERT INTO professions (prof_name) VALUES ('Designer');
INSERT INTO professions (prof_name) VALUES ('DevOps specialist');
INSERT INTO professions (prof_name) VALUES ('Developer, QA or test');
INSERT INTO professions (prof_name) VALUES ('Developer, back-end');
INSERT INTO professions (prof_name) VALUES ('Developer, desktop or enterprise applications');
INSERT INTO professions (prof_name) VALUES ('Developer, embedded applications or devices');
INSERT INTO professions (prof_name) VALUES ('Developer, front-end');
INSERT INTO professions (prof_name) VALUES ('Developer, full-stack');
INSERT INTO professions (prof_name) VALUES ('Developer, game or graphics');
INSERT INTO professions (prof_name) VALUES ('Educator or academic researcher');
INSERT INTO professions (prof_name) VALUES ('Engineer, data');
INSERT INTO professions (prof_name) VALUES ('Engineer, site reliability');
INSERT INTO professions (prof_name) VALUES ('Engineering manager');
INSERT INTO professions (prof_name) VALUES ('Executive');
INSERT INTO professions (prof_name) VALUES ('Machine learning specialist');
INSERT INTO professions (prof_name) VALUES ('Mobile developer - Android');
INSERT INTO professions (prof_name) VALUES ('Mobile developer - Windows Phone');
INSERT INTO professions (prof_name) VALUES ('Mobile developer - iOS');
INSERT INTO professions (prof_name) VALUES ('Product manager');
INSERT INTO professions (prof_name) VALUES ('System administrator');

In [ ]:
for lang in df.columns[4:-3]:
  print(f"INSERT INTO languages (language_name) VALUES ('{lang}');")

INSERT INTO languages (language_name) VALUES ('Java');
INSERT INTO languages (language_name) VALUES ('JavaScript');
INSERT INTO languages (language_name) VALUES ('HTML/CSS');
INSERT INTO languages (language_name) VALUES ('PHP');
INSERT INTO languages (language_name) VALUES ('Python');
INSERT INTO languages (language_name) VALUES ('Ruby');
INSERT INTO languages (language_name) VALUES ('SQL');
INSERT INTO languages (language_name) VALUES ('C#');
INSERT INTO languages (language_name) VALUES ('C++');
INSERT INTO languages (language_name) VALUES ('C');
INSERT INTO languages (language_name) VALUES ('Perl');

In [ ]:
# словарь для быстрого поиска country_id
country_id_map = {
    country: ind + 1
    for ind, country in enumerate(sorted(df['country'].unique()))
    }
# словарь для быстрого поиска prof_id
prof_id_map = {
    prof: ind + 1
    for ind, prof in enumerate(sorted(df['prof'].unique()))
    }

country_id_map

{'Argentina': 1,
 'Armenia': 2,
 'Australia': 3,
 'Austria': 4,
 'Bangladesh': 5,
 'Belarus': 6,
 'Belgium': 7,
 'Bolivia': 8,
 'Bosnia and Herzegovina': 9,
 'Brazil': 10,
 'Bulgaria': 11,
 'Canada': 12,
 'Chile': 13,
 'China': 14,
 'Colombia': 15,
 'Costa Rica': 16,
 'Croatia': 17,
 'Cyprus': 18,
 'Czech Republic': 19,
 'Denmark': 20,
 'Dominican Republic': 21,
 'Ecuador': 22,
 'Egypt': 23,
 'El Salvador': 24,
 'Estonia': 25,
 'Finland': 26,
 'France': 27,
 'Georgia': 28,
 'Germany': 29,
 'Greece': 30,
 'Hungary': 31,
 'India': 32,
 'Indonesia': 33,
 'Iran': 34,
 'Ireland': 35,
 'Israel': 36,
 'Italy': 37,
 'Japan': 38,
 'Jordan': 39,
 'Latvia': 40,
 'Lebanon': 41,
 'Lithuania': 42,
 'Macedonia': 43,
 'Malaysia': 44,
 'Malta': 45,
 'Mexico': 46,
 'Moldavia': 47,
 'Morocco': 48,
 'Myanmar': 49,
 'Nepal': 50,
 'Netherlands': 51,
 'New Zealand': 52,
 'Norway': 53,
 'Pakistan': 54,
 'Peru': 55,
 'Philippines': 56,
 'Poland': 57,
 'Portugal': 58,
 'Romania': 59,
 'Russian Federation': 60,
 'Saudi Arabia': 61,
 'Serbia': 62,
 'Singapore': 63,
 'Slovakia': 64,
 'Slovenia': 65,
 'South Africa': 66,
 'South Korea': 67,
 'Spain': 68,
 'Sri Lanka': 69,
 'Sweden': 70,
 'Switzerland': 71,
 'Taiwan': 72,
 'Thailand': 73,
 'Tunisia': 74,
 'Turkey': 75,
 'Ukraine': 76,
 'United Arab Emirates': 77,
 'United Kingdom of Great Britain and Northern Ireland': 78,
 'United States of America': 79,
 'Uruguay': 80,
 'Venezuela': 81,
 'Vietnam': 82}

In [ ]:
import numpy as np

In [ ]:
new_df = df.copy()

new_df = new_df.drop(df.columns[4:-3], axis=1)
new_df['respondent_id'] = np.arange(1, new_df.shape[0] + 1)

neworder = ['respondent_id', 'year', 'country', 'prof', 'exp',
            'Other', 'comp', 'adjusted_comp']
new_df = new_df.reindex(columns=neworder)

new_df['Other'] = new_df['Other'].apply(lambda x: x.replace("'", " ") if pd.notna(x) else '')
new_df['country'] = new_df['country'].map(country_id_map)
new_df['prof'] = new_df['prof'].map(prof_id_map)

newnames = {'prof': 'prof_id',
            'exp': 'experience',
            'Other': 'other_languages',
            'comp': 'compensation',
            'adjusted_comp': 'adjusted_compensation'}
new_df = new_df.rename(columns=newnames)

new_df.head()

,respondent_id,year,country,prof_id,experience,other_languages,compensation,adjusted_compensation
0,1,2011,3,7,11,,90000.0,125641.363649
1,2,2011,47,7,8,,70000.0,97721.060616
2,3,2011,47,11,4,,30000.0,41880.454550
3,4,2011,47,10,4,,30000.0,41880.454550
4,5,2011,47,7,4,,30000.0,41880.454550

In [ ]:
new_df.to_csv('respondents.csv', sep=';', index=False, encoding='utf-8')

In [ ]:
df['respondent_id'] = np.arange(1, new_df.shape[0] + 1)

In [ ]:
languages = ['Java', 'JavaScript', 'HTML/CSS', 'PHP', 'Python', 'Ruby', 'SQL', 'C#', 'C++', 'C', 'Perl']

data = []
for index, row in df.iterrows():
    for lang in languages:
        if row[lang] == 1:
            data.append({'respondent_id': row['respondent_id'], 'language_id': languages.index(lang) + 1})

In [ ]:
respondent_languages_df = pd.DataFrame(data)
respondent_languages_df.head(20)

    respondent_id  language_id
0               1            7
1               1            8
2               2            2
3               2            3
4               2            6
5               2            7
6               3            2
7               3            7
8               3            8
9               4            2
10              4            7
11              4            8
12              5            2
13              5            7
14              5            8
15              6            1
16              6            2
17              6            3
18              6            4
19              6            7

In [ ]:
respondent_languages_df.to_csv('respondent_languages.csv', sep=';', index=False, encoding='utf-8')

## ПРОВЕРКА ДАННЫХ

In [ ]:
prof_df = pd.read_csv('NewProfsDF.csv', delimiter=';')
prof_df.head()

,year,prof,country,exp,Java,JavaScript,HTML/CSS,PHP,Python,Ruby,SQL,C#,C++,C,Perl,Other,comp,adjusted_comp
0,2011,"Developer, back-end",Australia,11,0,0,0,0,0,0,1,1,0,0,0,NaN,90000.0,125641.363649
1,2011,"Developer, back-end",Moldavia,8,0,1,1,0,0,1,1,0,0,0,0,NaN,70000.0,97721.060616
2,2011,"Developer, full-stack",Moldavia,4,0,1,0,0,0,0,1,1,0,0,0,NaN,30000.0,41880.454550
3,2011,"Developer, front-end",Moldavia,4,0,1,0,0,0,0,1,1,0,0,0,NaN,30000.0,41880.454550
4,2011,"Developer, back-end",Moldavia,4,0,1,0,0,0,0,1,1,0,0,0,NaN,30000.0,41880.454550